

<h1>Cryptos</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Price</th>
      <th>1 HR Change</th>
      <th>24 HR Change</th>
      <th>7 DAY Change</th>
      <th>Total Current Value</th>
      <th>Profit/Loss</th>
      <th>Cost Paid per unit</th>
      <th>Amount owned</th>
      <th>Total Paid</th>

    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <% if crypto.user_id == current_user.id %>
      <% crypto.symbol = crypto.symbol.upcase if crypto %>
        <tr>
          <% @coins.each do |coin| %>
            <% if crypto.symbol.include?(coin['symbol']) %>
              <td><%= link_to "#{coin['name']}(#{crypto.symbol})", crypto %></td>
              <td>$<%= coin['price_usd'] %></td>
              <td><%= number_to_percentage(coin['percent_change_1h'], precision: 2) %></td>
              <td><%= number_to_percentage(coin['percent_change_24h'], precision: 2) %></td>
              <td><%= number_to_percentage(coin['percent_change_7d'], precision: 2) %></td>
              <td>$<%= coin['price_usd'].to_f * crypto.amount_owned %></td>
              <td>$<%= (coin['price_usd'].to_f * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned) %></td>
              <td>$<%= crypto.cost_per %></td>
              <td><%= crypto.amount_owned %></td>
              <td>$<%= crypto.amount_owned * crypto.cost_per %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crypto', new_crypto_path, class: "btn btn-default" %>
